<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Sysprime</display-name>
	<servlet>
		<description>
		Teste</description>
		<display-name>Teste</display-name>
		<servlet-name>Teste</servlet-name>
		<servlet-class>
		Teste</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ColegiadoServlet</display-name>
		<servlet-name>ColegiadoServlet</servlet-name>
		<servlet-class>
		ColegiadoServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ColegiadoServlet1</display-name>
		<servlet-name>ColegiadoServlet1</servlet-name>
		<servlet-class>
		com.servlet.ColegiadoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Teste</servlet-name>
		<url-pattern>/Teste</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ColegiadoServlet</servlet-name>
		<url-pattern>/Sysprime/ColegiadoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ColegiadoServlet1</servlet-name>
		<url-pattern>/ColegiadoServlet1</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
